@font-face {
  font-family: 'Sant Lipi';
  font-style: normal;
  font-weight: 100 900;
  font-display: auto;
  src: url('/SantLipi-VF.woff2') format('woff2-variations'),
    url('/SantLipi-VF.woff2') format('woff2');
  unicode-range: U+0964-0965, U+2080-2089, U+262C, U+25CC, U+0A00-0A76,
    U+A830-A835;
}

:root {
  --black-rgb: 0% 0% 0%;
  --dark-gray-rgb: 14.77% 14.77% 14.77%;
  --white-rgb: 100% 100% 100%;

  --alpha-8: 8%;
  --alpha: 40%;
  --alpha-80: 80%;

  --shader: rgba(var(--black-rgb) / var(--alpha-8));
  --highlighter: rgba(var(--white-rgb) / var(--alpha-8));
}

@media (prefers-color-scheme: light) {
  :root {
    --separator: rgba(var(--white-rgb) / var(--alpha));
    --fg: rgb(8.33% 7.46% 5.52%);
    --fg-muted: rgb(57.57% 56.58% 54.63%);
    --bg: #f5f3f0;
    --bg-base: #fff;
    --blue: rgb(0% 48.81% 81.83%);
    --link: #2c64c4;
    --link-hover: #4395f7;
    --teal: rgb(0% 52.14% 55.32%);
    --red: rgb(83.05% 24% 29.82%);
    --heavy-vishraam: rgb(55.17% 30% 13.76%);
    --medium-vishraam: rgb(9.32% 42.55% 19.52%);
    --light-vishraam: rgb(53% 27.31% 53.51%);
  }

  @media (dynamic-range: high) {
    @supports (color: lch(0 0 0)) {
      :root {
        --separator: lch(88% 1.5 85);
        --fg: lch(4% 2 85);
        --fg-muted: lch(40% 2 85);
        --bg: lch(96% 2 85);
        --bg-base: lch(100% 0 0);
        --blue: lch(50% 66 265);
        --link: lch(40% 66 265);
        --link-hover: lch(60% 66 265);
        --teal: lch(50% 66 205);
        --red: lch(50% 66 25);
        --heavy-vishraam: lch(40% 44 55);
        --medium-vishraam: lch(40% 44 145);
        --light-vishraam: lch(40% 44 295);
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --separator: rgba(var(--black-rgb) / var(--alpha));
    --fg: rgb(79.55% 77.27% 77.12%);
    --fg-muted: rgb(38.49% 36.51% 36.38%);
    --bg: rgb(20.2% 18.51% 19.08%);
    --bg-base: #000;
    --blue: rgb(43.72% 69.01% 100%);
    --link: rgb(44.17% 57.86% 77.28%);
    --link-hover: rgb(65.49% 79% 99.57%);
    --teal: rgb(0% 74.74% 79.18%);
    --red: rgb(100% 52.49% 52.68%);
    --heavy-vishraam: rgb(68.3% 53.37% 44.51%);
    --medium-vishraam: rgb(45.94% 60.18% 47.63%);
    --light-vishraam: rgb(57.97% 54.89% 70.53%);
  }

  ::selection {
    background: rgb(79.24% 59.19% 1.74% / 60%);
  }

  img,
  svg {
    filter: saturate(0.8);
  }

  @media (dynamic-range: high) {
    @supports (color: lch(0 0 0)) {
      :root {
        --separator: lch(25% 1.125 355);
        --fg: lch(80% 2 25);
        --fg-muted: lch(60% 2 25);
        --bg: lch(18% 2 355);
        --bg-base: lch(10% 1 355);
        --blue: lch(50% 50 265);
        --link: lch(60% 40 265);
        --link-hover: lch(80% 40 265);
        --teal: lch(50% 50 205);
        --red: lch(50% 50 25);
        --heavy-vishraam: lch(60% 44 55);
        --medium-vishraam: lch(60% 44 145);
        --light-vishraam: lch(60% 44 295);
      }

      ::selection {
        background: lch(66% 70 80 / 60%);
      }
    }
  }
}

body {
  font-family: 'Sant Lipi', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', Arial, sans-serif;
  font-size: clamp(12px, 1rem, 24px);
  line-height: 1.5;
  margin: 0;
  background-color: var(--bg);
  color: var(--fg);
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

*:focus {
  outline-color: var(--link) !important;
}

:root {
  color-scheme: light dark;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

b,
strong {
  font-weight: 600;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3,
h4,
h5,
h6 {
  font-size: 1em;
}

hr {
  margin: 0;
  border: 0.5px solid var(--shader);
}

a {
  color: var(--link);
}

a:hover {
  color: var(--link-hover);
}

ul {
  margin: 0;
}

#app {
  margin: 0 auto;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.app__left {
  height: calc(100vh);
  border-right: 1px solid var(--shader);
  width: 300px;
}

#app__left__controls,
#dirlist {
  padding: 2rem;
}

#app__left__controls {
  position: sticky;
  top: 0;
  padding-bottom: 2em;
  background-color: var(--bg);
  border-bottom: 1px solid var(--shader);
}

.app__right {
  position: sticky;
  overflow-y: auto;
  overscroll-behavior: contain;
}

#dirlist {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overscroll-behavior: contain;
  height: calc(100vh - 19.75em);
}

.dirlist__file {
  background: var(--separator);
  border: 1px solid var(--shader);
  color: var(--fg);
  border-radius: 0;
  border-bottom-width: 0;
}

.dirlist__file:hover,
.dirlist__file:focus,
.dirlist__currentFile:hover,
.dirlist__currentFile:focus {
  background: var(--bg-base);
  border-color: var(--shader);
  color: var(--link-hover);
}

.dirlist__currentFile {
  font-weight: bold;
  background: var(--bg);
  color: var(--link);
  border-bottom: 0;
  border-radius: 0;
  border-color: var(--shader);
}

#dirlist button:first-child {
  border-radius: 8px 8px 0 0;
}

#dirlist button:last-child {
  border-bottom-width: 1px !important;
  border-radius: 0 0 8px 8px;
}

.app__right {
  height: calc(100vh - 5em);
  flex-grow: 1;
  text-align: center;
  max-width: 960px;
}

#app__right__content {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#app__right__view {
  position: relative;
}

#app__right__view__canvas__image,
#app__right__view__canvas__quad,
#modal__canvas {
  position: absolute;
  left: 0;
  top: 0;
}

#app__right__view__canvas__image {
  z-index: 0;
}

#app__right__view__canvas__quad {
  z-index: 1;
}

.bottom_controls {
  width: -webkit-fill-available;
  max-width: 960px;
  gap: 1em;
  position: fixed;
  bottom: 0;
  box-sizing: border-box;
  padding: 1.25em 2em;
  background-color: var(--bg);
  border-top: 1px solid var(--shader);
  display: flex;
  z-index: 1;
}

.logo {
  height: 6em;
  padding: 1.5em;
}

.spacer {
  flex-grow: 1000;
}

input[type='number'] {
  border-radius: 8px;
  border: 1px solid var(--shader);
  padding: 0.6em 0 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background: var(--separator);
}

input[type='number']:hover,
input[type='number']:focus {
  border-color: var(--bg-base);
  background: var(--bg-base);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: var(--bg-base);
  background-color: var(--link);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:focus,
button:hover {
  background-color: var(--link-hover);
  border-color: transparent;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

button:disabled {
  background-color: var(--fg-muted);
  border-color: var(--fg-muted);
  cursor: default;
}

#app__right__preview {
  z-index: 2;
  position: fixed;
  height: 100%;
  width: 100%;
  overflow: auto;
  max-width: 960px;
  background: var(--bg);
  display: none;
}
